<% provide(:title, "See Also") %>

		<h2>See also</h2>
		<ul>
			<li>Side-Striped Jackal (Canis Adustus)</li></br>
			<li>Golden Jackal (Canis Aureus)</li></br>
			<li>Black-Backed Jackal (Canis Mesomelas)</li></br>
		</ul>
