<% provide(:title, "The Jackal: In Popular Culture") %>
		

		<h2>Culture</h2>
		<ul>
			<li>In the American horror films The Omen (1976), Damien: Omen II (1978), Omen III: The Final Conflict (1981), and The Omen (2006) remake, Antichrist Damien Thorn's mother is said to be a jackal as tensions surrounding his birth mount.</li></br>
		</ul>