<% provide(:title, "The Jackal: Etymology") %>

	<body>
		<h2>Etymology</h2>
		<p>The English word "jackal" derives from Turkish çakal, via Persian شغال shaghāl, ultimately from Sanskrit शृगाल śṛgāla.</p>