<% provide(:title, "The Jackal: Folklore, mythology and literature") %>

		<h1>Folklore</h1>
		<ul>
			<li>Like foxes and coyotes, jackals are often depicted as clever sorcerers in the myths and legends of their regions.</li></br>
			<li>Anubis (Ancient Greek: Ἄνουβις) is the Greek name for a jackal-headed god associated with mummification and the afterlife in ancient Egyptian religion.</li></br>
			<li>The jackal (likely the golden jackal, given its present range) is mentioned approximately 14 times in the Bible. It is frequently used as a literary device to illustrate desolation, loneliness and abandonment, with reference to its habit of living in the ruins of former cities and other areas abandoned by humans.</li></br>
			<li>Serer religion and creation myth posits the jackal was among the first animals created by Roog, the supreme deity of the Serer people.</li></br>
			<li>Pablo Neruda's poem "I Explain a Few Things" describes Francisco Franco and his allies as "...Jackals that the jackal would drive off...".</li></br>
			<li>In Rudyard Kipling's collection of stories The Jungle Book, the mad cowardly jackal Tabaqui feasts on the scraps of Shere Khan and the Seeonee wolf tribe.</li></br>
			<li>In the King James translation of the Bible, Isaiah 13:21 refers to 'doleful creatures' which some commentators suggest are either jackals or hyenas.</li></br>
			<li>Literature in India and Pakistan compares jackal with lion in terms of courage. The famous saying goes as "One day life of a lion is better than hundred years life of jackal".</li></br>
		</ul>

</body>
</html>