<% provide(:title, "Footnotes")%>	

		<h2>Footnotes</h2>

		<ol>
			<li>Coyote (2004) by E.M. Gese & M. Bekoff</li><br>
			<li>Online Etymology Dictionary</li><br>
			<li>American Heritage Dictionary - Jackal entry[de</li><br>
			<li>Online Etymology Dictionary - Jackal entry</li><br>
			<li>Thos vs Canis</li><br>
			<li>Lindblad-Toh; et al. (2005). "Genome sequence, comparative analysis and haplotype structure of the domestic dog". Nature 438 (7069): 803–819. doi:10.1038/nature04338.</li><br>
			<li>Feddersen-Petersen, Dorit (2004). Hundepsychologie (4th ed.). Stuttgart: Franck-Kosmos-Verlag. ISBN 3-440-09780-3. (German)</li><br>
			<li>Thiaw, Issa laye (23–24 June 2009), "Mythe de la création du monde selon les sages sereer", Enracinement et Ouverture — "Plaidoyer pour le dialogue interreligieux" (in French) (Dakar: Konrad Adenauer Stiftung): 45–50</li><br>
			<li>"Jackal" at NETBible Dictionary</li><br>
			<li>"Side-Striped Jackal". Canids.org. Retrieved 2010-03-19.</li><br>
			<li>"Golden Jackal". Canids.org. Retrieved 2007-08-15.</li><br>
			<li>Macdonald, David (1992). The Velvet Claw. p. 256. ISBN 0-563-20844-9.</li><br>
			<li>Estes, Richard (1992). The behavior guide to African mammals: including hoofed mammals, carnivores, primates. University of California Press. ISBN 0-520-08085-8.</li><br>
			<li>Donner, Richard (Director) (1976). The Omen (DVD). Beverly Hills, California: Twentieth Century Fox Home Entertainment. OCLC 70171384.</li><br>
			<li>Taylor, Don and Hodges, Mike (Directors) (1978). Damien: Omen II (DVD). Beverly Hills, California: Twentieth Century Fox Home Entertainment. OCLC 45111331.</li><br>
			<li>Baker, Graham (Director) (1981). Omen III: The Final Conflict (DVD). Beverly Hills, California: Twentieth Century Fox Home Entertainment. OCLC 45273673.</li><br>

		</ol>

</body>
</html>