<% provide(:title, "The Jackal: Home") %>

	<h1>Jackal</h1>
	<hr> 
	<h6> From Wikipedia, the free encyclopedia </h6>
	<div>
	<p>Although the word jackal has often been used historically to refer to many small- to medium-sized species of the wolf genus of mammals, Canis, today it most properly and commonly refers to three species: the black-backed jackal, the side-striped jackal of sub-Saharan Africa, and the golden jackal of northern Africa and south-central Eurasia. The black-backed and side-striped jackals are more closely related to each other than they are to the golden jackal, which is closer to wolves, dogs, and coyotes.</p>

	<p>Jackals and coyotes (sometimes called the "American jackal") are opportunistic omnivores, predators of small- to medium-sized animals and proficient scavengers. Their long legs and curved canine teeth are adapted for hunting small mammals, birds, and reptiles, and their large feet and fused leg bones give them a physique well-suited for long-distance running, capable of maintaining speeds of 16 km/h (9.9 mph) for extended periods of time. Jackals are crepuscular, most active at dawn and dusk.</p>

	<p>Their most common social unit is that of a monogamous pair which defends its territory from other pairs by vigorously chasing intruding rivals and marking landmarks around the territory with their urine and feces. The territory may be large enough to hold some young adults which stay with their parents until they establish their own territories. Jackals may occasionally assemble in small packs, for example, to scavenge a carcass, but they normally hunt either alone or in pairs.</p>
	</div>

	</body>
</html>
