<% provide(:title, "The Jackal: Interbreeding with dogs") %>		

		<h2>StaticPages#interbreeding</h2>
		<p>Breeding experiments in Germany with breeding poodles and golden jackals can produce hybrids. The results showed that, unlike wolf-dog hybrids, jackal-dog hybrids show a decrease in fertility, significant communication problems, and an increase of genetic disorders after three generations of interbreeding, much like coydogs..

		In Russia, Golden Jackals are one of the founder breeds of the Sulimov dog, a working dog owned exclusively by Aeroflot and used for bomb detection in airport security.</p>
	</body>
</html>