<% provide(:title, "External Links") %>

		<h2>External Links</h2>

		<ul>
			<li>Jackal at the African Wildlife Foundation</li></br>
			<li>Jackals at A-Z Animals</li></br>
			<li>Jackals of the African Crater at PBS.org</li></br>
		</ul>
	</body>
</html>