<% provide(:title, "Privacy Policy") %>	

		<h2>References</h2>

		<ul>
			<li>The New Encyclopedia of Mammals edited by David Macdonald, Oxford University Press, 2001; ISBN 0-19-850823-9</li></br>
			<li>Cry of the Kalahari, by Mark and Delia Owens, Mariner Books, 1992.</li></br>
			<li>The Velvet Claw: A Natural History of the Carnivores, by David MacDonald, BBC Books, 1992.</li></br>
			<li>Foxes, Wolves, and Wild Dogs of the World, by David Alderton, Facts on File, 2004.</li></br>
		</ul>
	</body>
</html>