<% provide(:title, "The Jackal: Species") %>
		<h2>Species</h2>
		<table border="1">
			<tr>
				<td>Species</td>
				<td>Trinomial authority</td>
				<td>Description</td>
				<td>Range</td>
			</tr>

			<tr>
				<td><strong>Side-striped jackal</strong><br>
		<em>Canis adustus</em></td>
				<td>Sundevall, 1847</td>
				<td>Primarily residing in wooded areas, unlike other jackal species, it is the least aggressive of the jackals, rarely preying on large mammals.</td>
				<td>Central and southern Africa</td>
			</tr>

			<tr>
				<td><strong>Golden jackal</strong><br>
		<em>Canis aureus</em></td>
				<td>Linnaeus, 1758</td>
				<td>The heaviest of the jackals, it is the only species to subsist outside of Africa. Although often grouped with the other jackals, genetic and morphological research indicate the golden jackal is more closely related to the gray wolf and the coyote.</td>
				<td>Northern Africa, southeastern Europe, the Middle East, western Asia, and South Asia</td>
			</tr>

			<tr>
				<td><strong>Black-backed jackal</strong><br>
		<em>Canis mesomelas</em></td>
				<td>Schreber, 1775</td>
				<td>The most lightly built jackal, this is considered to be the oldest living member of the genus Canis. It is the most aggressive of the jackals, having been known to attack animal prey many times its own weight, and it has more quarrelsome intrapack relationships.</td>
				<td>Southern Africa and eastern coast of Kenya, Somalia, and Ethiopia</td>
			</tr>
		</table>
	</body>
</html>