<% provide(:title, "The Jackal: Taxonomy and relationships") %>

		<h2>Taxonomy</h2>
		<p>The taxonomy of the jackals has evolved with scientific understanding about how they are related on the canid family tree.

		Similarities between jackals and coyotes led Lorenz Oken, in 1816, in the third volume of his Lehrbuch der Naturgeschichte, to place these species into a new separate genus, Thos, after the classical Greek word θώς "jackal", but his theory had little immediate impact on taxonomy at the time. Angel Cabrera in his 1932 monograph on the mammals of Morocco, questioned whether or not the presence of a cingulum on the upper molars of the jackals and its corresponding absence in the rest of Canis could justify a subdivision of the genus Canis. In practice, Cabrera chose the undivided-genus alternative and referred to the jackals as Canis instead of Thos.

		Oken's Thos theory was revived in 1914 by Edmund Heller, who embraced the separate genus theory. Heller's names and the designations he gave to various jackal species and subspecies live on in current taxonomy, although the genus has been changed from Thos to Canis.

		Modern research has clarified the relationships among the "jackal" species. Despite their similarities, jackals do not all stem from the same branch on the canid family tree. The side-striped jackal and black-backed jackal belong to a branch of canids that includes the Dhole and African wild dog, while the golden jackal, on the other hand, belongs to a branch which includes the Ethiopian wolf, the coyote, and Canis lupus, the grey wolf/domestic dog.

		The intermediate size and shape of the Ethiopian wolf (Canis simensis) has at times caused it to be regarded as a jackal, and so have been called the "red jackal" or the "simian jackal", but they have more often been considered and called "wolves".</p>
	</body>
</html>